{% extends "base.html" %}

{% block content %}
<h1 align="center">Add a Blog Entry</h1>

<p class="error">{{ title_error }}</p>
<p class="error">{{ content_error }}</p>
<form method='post'>
<div>
    <label>Title</br>
        <input type="text" name="blog_title" value="{{blog_title}}"/>
    </label>
</div>
</br>
<div>
    <label>Body</br>
        <textarea name="blog_content">{{blog_content}}</textarea>
        <span class="error">{{content_error}}</span>
    </label>
</div>
<input type="submit" value='Post'/>
</form>



{% endblock %}
